td>img{
    width: 10%;
}


.table{
    width: 80%;
    margin-top: 5%;
    margin-bottom: 12%;
}



h3{
    color: rgb(80, 184, 149);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    size: 14px;
}


h1{
    letter-spacing: 1px;
    color: rgb(130, 161, 161);
}





p{
    letter-spacing: 1px;
    color: rgb(130, 161, 161);
    font-size: 18px;
  
}

div{
  
    margin-top: 5%;
    margin-bottom: 1%;

}