
<h1 class="text-center">Wow! que rico...</h1>
<h3 class="text-center">Casa de empanadas</h3>

<div>
 <p>Wow! que Rico, no es solo un nombre... es una anticipación de lo que vas a vivir al probar nuestras emapanadas</p>  
 <table class="table">
    <thead class="text-center">
        <tr>
            <th><h3>Contacto</h3></th>
            <th></th>
         </tr>
    </thead>
    <tbody>
        <tr>
            <td>Teléfono</td>
            <td>2494-656565</td>
        </tr>
      
        <tr>     
            <td><img src="/assets/img/instagram.jpeg" alt="instagram"></td>          
            <td>wow.querico.empanadas</td>
        </tr>
            <tr>
                <td>e-mail</td>
                <td> {{ email }}</td>
            </tr>
            
            
                    <tbody>
      
</table> 
</div>









