td>img{
    width: 10%;
}


.table{
    width: 80%;
    margin-top: 5%;
    margin-bottom: 11%;
}




p{
    letter-spacing: 1px;
    color: rgb(130, 161, 161);
    font-size: 18px;
  
}

div{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    text-align: center; 
  justify-content: center;

}

h3 span{
    color:rgb(130, 161, 161);
}