input{
    max-width: 60px;
    background-color: rgb(246, 255, 254);
    border-radius: 4px;
}

button{
    width: 25px;
    height: 25px;
    margin: 3px;
}
button:hover{
    background-color: aquamarine;
}