<h3>Nuestras variedades</h3>
<table class="table table-success table-striped">
    <thead class="text-center">
        <tr>
            <th class="colMayor"></th>
            <th>Variedad</th>
            <th>Detalle</th>
            <th>Precio</th>
            <th>Stock</th>
            <th class="colMayor">Cantidad</th>
            <th class="colMayor">Comprar</th>
        </tr>
    </thead>
    <tbody>
        @for(empanada of empanadas; track empanada.nombre){
            <tr [ngClass]="{'novedad': empanada.novedad}">
                <td><img class="imgLista"  [src]="empanada.imagen" [alt]="empanada.nombre"></td>
                <td>{{empanada.nombre}}</td>
                <td>{{empanada.descripcion}}</td>
                <td>{{empanada.precio | currency}}</td>
                @if(empanada.stock>0){
                    <td></td>
                }
               @else {
                   <td><span class="badge text-bg-danger">SIN STOCK</span></td>
               }
               <td>
                <app-input-integer [(cantidad)]= "empanada.cantidad" [max]="empanada.stock" (MaxReached)="maxReached($event)"></app-input-integer>
               </td>  
                <td>
                  <button class="btn btn-success btn-secondary" (click)="agregarAlCarrito(empanada)">Comprar</button> 
                </td>     
           
            </tr>
        }
        @empty {
            <tr>
                <td *colspan="4">No hay empanadas</td>
            </tr>
        }
      
    </tbody>
</table>
