<h2>¿Qué vas a elegir?</h2>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Variedad</th>
            <th>Detalle</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="empanada.imagen" [alt]="empanada.nombre"></td>
            <td>{{empanada.nombre}}</td>
            <td>{{empanada.descripcion}}</td>
            <td>{{empanada.precio}}</td>
            <td>{{empanada.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="empanada.imagen" [alt]="empanada.nombre"></td>
            <td>Pollo</td>
            <td>Pollo, condimentos, crema</td>
            <td>$900</td>
            <td>180</td>
        </tr>
        <tr>
            <td><img [src]="empanada.imagen" [alt]="empanada.nombre"></td>
            <td>Verdura</td>
            <td>Acelga, cebolla, morron</td>
            <td>$800</td>
            <td>150</td>
        </tr>
    </tbody>
</table>
