<h2>¿Qué vas a elegir?</h2>
<table class="table table-success table-striped">
    <thead class="text-center">
        <tr>
            <th class="colMayor"></th>
            <th>Variedad</th>
            <th>Detalle</th>
            <th>Precio</th>
            <th>Stock</th>
            <th class="colMayor">Comprar</th>
        </tr>
    </thead>
    <tbody>
        @for(empanada of empanadas; track empanada.nombre){
            <tr [ngClass]="{'novedad': empanada.novedad}">
                <td><img class="imgLista"  [src]="empanada.imagen" [alt]="empanada.nombre"></td>
                <td>{{empanada.nombre}}</td>
                <td>{{empanada.descripcion}}</td>
                <td>{{empanada.precio | currency}}</td>
                @if(empanada.stock>0){
                    <td>{{empanada.stock}}</td>
                }
               @else {
                   <td><span class="badge text-bg-danger">SIN STOCK</span></td>
               }
               <td>
                <div>
                    <input type="text" 
                [(ngModel)]="empanada.cantidad"
                (keydown)="validateInput($event)"
                (keyup)="cambiaCantidad($event,empanada)" class="text-center">
            </div>
                <div>
                    <button class="btn btn-secondary btn-sm" (click)="menosCantidad(empanada)">-</button>
                     <button class="btn btn-secondary btn-sm" (click)="masCantidad(empanada)">+</button></div>
                </td>
            </tr>
        }
        @empty {
            <tr>
                <td *colspan="4">No hay empanadas</td>
            </tr>
        }
      
    </tbody>
</table>
