.carritoCompra {
    background-color: #198764;
    border-radius: 6px;
    height: 850px;
    color: rgb(6, 4, 44);
    padding:3px;

}

.itemCarrito {
    list-style-type: none;
}

.itemCarrito li {

    background-color: #d1e7dd;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.itemCarrito li p {
    color: #346c3e;

}



p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-stretch: expanded;

}



.total {
    background-color: bisque;
    border: 2px solid olive;
    border-radius: 6px;
    margin-top: 20px;
}

span {
    color: #346c3e;
}

img {
    border-radius: 30px;
    filter: opacity(0.3);
    width: 20%;
}


button {
    width: 80px;
    height: 35px;
    border-radius: 6px;
    color: #346c3e;
    padding: 5px;


}

.btnCompra {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
}


.comprar{
    background-color: red;
    color: #d1e7dd;
}

div h3{
    text-align: center;
}